[submodule "Department/mal-detection"]
	path = Department/mal-detection
	url = https://github.iu.edu/yc59/mal-detection.git
	ignore = dirty
[submodule "Department/jlcl-offensive"]
	path = Department/jlcl-offensive
	url = https://github.com/chenyueg/jlcl-offensive.git
	ignore = dirty
[submodule "abusive-language-detection"]
	path = abusive-language-detection
	url = git@github.com:danterazo/abusive-language-detection.git
	branch = main
