.idea/
.RDataFiles/
.Rproj.user/

*.aux
*.log
*.synctex.gz
desktop.ini
.RDataTmp
.Rhistory
.RData

conda_update_ALL.txt

KaggleSVM/__pycache__/

LING-X490-SP20/TODO.md
LING-X490-SP20/TODO_sort.md
LING-X490-SP20/X490 Final LaTeX Revised
!/abusive-language-detection/KaggleSVM/output/stats/oov/folds/
